[submodule "Musketeer | yOmwftURfObY7YHohWOT"]
	path = Musketeer | yOmwftURfObY7YHohWOT
	url = https://github.com/Jezwan/saturday-hacknight
[submodule "SAHAKERS | RKdjGmB6ddaNJBjVwQva"]
	path = SAHAKERS | RKdjGmB6ddaNJBjVwQva
	url = https://github.com/anirudhsuresh522001/Saturday-Hack-Night
[submodule "Prayuj | Tf4DodqgvXqKXlk6p18l"]
	path = Prayuj | Tf4DodqgvXqKXlk6p18l
	url = https://github.com/DeepikaSR4/tinkerhub-saturday-hacknight-vision-api
[submodule "TheCrazyInsaneFlyingMonkeySpaceInvaders | jxufjGONurwubIceoqfZ"]
	path = TheCrazyInsaneFlyingMonkeySpaceInvaders | jxufjGONurwubIceoqfZ
	url = https://github.com/ashishbinu/vision-api-project
