[submodule "Musketeer | yOmwftURfObY7YHohWOT"]
	path = Musketeer | yOmwftURfObY7YHohWOT
	url = https://github.com/Jezwan/saturday-hacknight
[submodule "SAHAKERS | RKdjGmB6ddaNJBjVwQva"]
	path = SAHAKERS | RKdjGmB6ddaNJBjVwQva
	url = https://github.com/anirudhsuresh522001/Saturday-Hack-Night
[submodule "Prayuj | Tf4DodqgvXqKXlk6p18l"]
	path = Prayuj | Tf4DodqgvXqKXlk6p18l
	url = https://github.com/DeepikaSR4/tinkerhub-saturday-hacknight-vision-api
[submodule "TheCrazyInsaneFlyingMonkeySpaceInvaders | jxufjGONurwubIceoqfZ"]
	path = TheCrazyInsaneFlyingMonkeySpaceInvaders | jxufjGONurwubIceoqfZ
	url = https://github.com/ashishbinu/vision-api-project
[submodule "Void | f1BjhEaxsuM44ZMzm5eK"]
	path = Void | f1BjhEaxsuM44ZMzm5eK
	url = https://github.com/Theertha777/VisionApiProj
[submodule "ICONIC | lq2I8ZOjWGxdMhAmSP2y"]
	path = ICONIC | lq2I8ZOjWGxdMhAmSP2y
	url = https://github.com/ICONIC-Saturday-HackNight/Vision-API
[submodule "ZAFIRE | hD02j3ANYCA878EHlkd5"]
	path = ZAFIRE | hD02j3ANYCA878EHlkd5
	url = https://github.com/Vyshakhsaseendran/SHN
[submodule "KGF | KlqG7fjuQNUQWO2bCc4j"]
	path = KGF | KlqG7fjuQNUQWO2bCc4j
	url = https://github.com/Vyshakhsaseendran/SHN
[submodule "Error401 | dl03t04p0FgldmJiU3yL"]
	path = Error401 | dl03t04p0FgldmJiU3yL
	url = https://github.com/dinu24/Vision-API
[submodule "SVG | ShX5tc0DUSXFW15Vjhui"]
	path = SVG | ShX5tc0DUSXFW15Vjhui
	url = https://github.com/gktc/Svg-sat_night_hack
[submodule "LackOfREspect | tZSMwe6FyKdZ6b5KclEj"]
	path = LackOfREspect | tZSMwe6FyKdZ6b5KclEj
	url = https://github.com/MUHAMMEDSAJAL/VisionApi
